:root {
  --font-text: "Rubik", sans-serif;
  --font-title: "Rubik Mono One", sans-serif;
  --font-display: "Oswald", cursive;

  --fs-xl: clamp(3.5rem, 12vw + 1rem, 12rem);
  --fs-600: clamp(1.25rem, 2vw + 1rem, 3rem);
  --fs-lg: clamp(2.275rem, 6vw + 1rem, 2.75rem * 2);
  --fs-500: 1.25rem;
  --fs-400: clamp(1rem, 0.75vw + 1rem, 1.725rem);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,24,1.25,3,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --step--3: clamp(0.651rem, 0.6104rem + 0.2034vi, 0.768rem);
  --step--2: clamp(0.7813rem, 0.7191rem + 0.3109vi, 0.96rem);
  --step--1: clamp(0.9375rem, 0.8462rem + 0.4565vi, 1.2rem);
  --step-0: clamp(1.125rem, 0.9946rem + 0.6522vi, 1.5rem);
  --step-1: clamp(1.35rem, 1.1674rem + 0.913vi, 1.875rem);
  --step-2: clamp(1.62rem, 1.3683rem + 1.2587vi, 2.3438rem);
  --step-3: clamp(1.944rem, 1.6012rem + 1.7142vi, 2.9297rem);
  --step-4: clamp(2.3328rem, 1.8704rem + 2.3118vi, 3.6621rem);
  --step-5: clamp(2.7994rem, 2.1808rem + 3.0927vi, 4.5776rem);

  --primary-cyan-500: rgb(54, 233, 233);
  --primary-cyan-600: rgb(43, 182, 170);

  --neutral-400: hsl(0, 0%, 50%);
  --neutral-500: hsl(0, 0%, 30%);
  --neutral-600: hsl(0, 0%, 13%);
  --neutral-700: hsl(0, 0%, 7%);
}

/* @media (min-width: 40em) {
  :root {
    --fs-xl: 7rem;
    --fs-600: 3rem;
    --fs-400: 1.125rem;
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  padding-block: min(20vh, 10rem);
  padding-inline: min(10vh, 1.25rem);
}

body {
  font-family: var(--font-text);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  transition: 300ms ease-in-out;
}

.section__title {
  font-size: var(--step-5);
  color: var(--neutral-600);
  transition: 300ms ease-in-out;
}

.section__heading {
  font-size: var(--step-4);
  transition: 300ms ease-in-out;
}

blockquote {
  color: var(--neutral-700);
  font-family: var(--font-display);
  font-size: var(--step-3);
  margin: 1rem min(3vh, 4rem);
  transition: 300ms ease-in-out;
}

blockquote::before {
  content: open-quote;
}

blockquote::after {
  content: close-quote;
}

.section__text {
  margin: 1rem 0;
  font-size: var(--step-0);
  color: var(--neutral-500);
  transition: 300ms ease-in-out;
}

.section-cyan {
  background-color: var(--primary-cyan-600);
}

.section-cyan * {
  color: var(--neutral-700);
}

.section__image picture,
img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  border-radius: 0.5rem;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "a b b"
    "a c c";
  grid-auto-rows: minmax(10rem, 1fr);
  grid-template-columns: 20rem 2fr;
  gap: 1rem;
  padding: min(5vh, 10rem);
}

@media (width < 50em) {
  .grid-layout {
    grid-area: none;
    grid-template-columns: 1fr;
    grid-template-areas:
      "a a a"
      "b b b"
      "c c c";
  }
}

.a {
  grid-area: a;
  background-color: var(--neutral-600);
  border-radius: 0.5rem;
  padding: min(3vh, 2rem);
  color: white;
}

.b {
  grid-area: b;
  border-radius: 0.5rem;
  padding: min(3vh, 2rem);
  color: var(--neutral-600);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.c {
  border-radius: 0.5rem;
  padding: min(3vh, 2rem);
  color: var(--neutral-600);
  grid-area: c;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.grid-layout-item__heading {
  margin-bottom: 1rem;
  font-size: var(--step--1);
}

.grid-layout-item__text {
  /* margin-bottom: 1rem; */
  font-size: var(--step--2);
}
